body {
  background-color: slategray;
  color: #eee;
}
.app {
  margin: 20px 50px;
}
.input-area {
  margin: 20px 0;
  padding: 15px;
  min-width: 600px;
  height: 250px;
  background-color: #AAA;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #11111155;
  color: #eee !important;
  overflow: hidden;
}
hr {
  color: #eee;
}
label {
  font-weight: bold;
}
input {
  margin: 10px;
}
button {
  all: unset;
  cursor: pointer;
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  color: #555;
  font-weight: bold;
  outline: none;
}
button:hover {
  opacity: .8;
}
.output-area {
  background: #AAA;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #11111155;

}